h1 {
    text-align:center;
    background-color: pink;
}
h2{
    font-style: oblique;
    background-color: papayawhip;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: plum;
}
.imagem1 {
    width: 20;
} 
.imagem3 {
    width: 20;
}
